@use "scss-reset";
@import "_var.scss";
@import "sections/header.scss";
@import "sections/enjoy.scss";
@import "sections/favourite-coffee.scss";
@import "sections/about.scss";

body {
    background-color: $light-color;
}

a {
    text-decoration: none;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    span {
        color: $accent-color;
        font-style: italic;
    }

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $text-color;
}
